@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.title {
  margin-bottom: 50px;
}

.title h1 {
  color: #6feaf6;
  font-size: 3rem;
}

.title p {
  font-size: 0.75rem;
  text-align: center;
}

.title span {
  color: #6feaf6;
  font-weight: 600;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.movie option {
  text-transform: capitalize;
}

.seat {
  background-color: rgb(201, 199, 199);
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #333a3b;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  transform: scale(1.2);
  cursor: pointer;
}

.showcase .seat:not(.occupied):hover {
  transform: scale(1);
  cursor: default;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.showcase li small {
  margin-left: 2px;
}
.row {
  display: flex;
}

.screen-container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

.text span {
  color: #6feaf6;
}

@media only screen and (max-width: 470px) {
  body {
    padding: 20px 10px 20px 10px;
    height: 90vh;
  }
  .title {
    text-align: center;
    max-width: 80%;
    margin-bottom: 0px;
  }

  .title h1 {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movie-container label {
    margin-bottom: 10px;
  }

  .text {
    max-width: 70%;
    text-align: center;
  }

  .movie-container select {
    margin-left: 0px;
  }
}
